/*Global style*/
* {
    box-sizing: border-box;
    font-family: Lato;
}

body {
    background-color: #d9ffff;
}

h1 {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

p {
    width: 600px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin: 0px 0px 0px -300px; /* margin is -0.5 * dimension */
}

span {
    font-weight: bold;
}

.center {
    display: block;
    margin: auto;
}

.result { 
    text-align: center;
}

/*Style for boundary box in image*/
.box{
    width: 230px;
    height: 230px;
    border: solid;
    border-width: 2px;
    border-color: #3bd6c6;
    position: relative;
    left: 6%;
    top: -94%;
}

/*Style for button*/
input[type="file"] {
    display: none;
}

.custom-button {
    color: white;
    text-align: center;
    padding: 12px;
    max-width: 200px;
    cursor: pointer;7
}

/* Style for id=container and id=videoElement objects*/
#container {
    margin: 0px auto;
    width: 603px;
    height: 454px;
    border: 7px #333 solid;
}
#videoElement {
    width: 590px;
    height: 440px;
    background-color: #333;
}