<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/main.css" media="screen"/>
  </head>

  <body>
    <h1> ASL ALPHABET CLASSIFIER APP </h1>
      <form id="form" action = "http://localhost:5000/" method = "POST" enctype = "multipart/form-data">

        <div id="container">
            <video autoplay="true" id="videoElement">
            </video>
        </div>

           <label for="load" class="center custom-button">
              <input type="button" id="load" value="Take Photo" onchange=snap() />
           </label>
        {% if prediction != None %}
        <!-- Show prediction results. -->
            <p class="result"> The ASL Alphabet model read a <b>{{ prediction }}</b> </p>
        {% endif %}
      </form>

    <p>
      
      This ASL alphabet classifier will tell you what America Sign Language letter you're displaying. Place your hand gesture in the border and press "Take Photo" to run the model!

    </p>
  </body>
</html>

<script src="static/js/main.js"></script>